<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.body %></td>
        <td><%= link_to blog.status, toggle_status_blog_path(blog) %></td>
        <td><%= link_to(edit_blog_path(blog), :id => :blog, class: "btn-floating yellow darken-1") do %>
              <i class='material-icons'>edit</i><% end %><td>
        <td><%= link_to(blog_path(blog), :id => :blog, class: "btn-floating green") do %><i class="material-icons">assignment_return</i><% end %><td>

  <td><%= link_to(blog, :method=>:delete, class: "btn-floating red", data: { confirm: 'Are you sure?' }) do %>
              <i class='material-icons'>delete</i><% end %><td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="btn-floating btn-large waves-effect waves-light red" href="/blogs/new"><i class="material-icons">class</i></a>