<%= form_for(@portfolio_item) do |f| %>
<% if portfolio_item.errors.any? %>
  <% portfolio_item.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "TLC Portfolio") %>
    <% end %>
  <% end %>
  
<div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

<div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>