<%= render 'shared/slider' %>

<h1>Portfolio Items</h1>
<a class="btn-floating btn-large waves-effect waves-light red" href="/portfolios/new"><i class="material-icons">class</i></a></a>
<% @portfolio_items.each do |portfolio_item| %>
  <p><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></p>
  <p><%= portfolio_item.subtitle %></p>
  <p><%= portfolio_item.body %></p>
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
  <p><%= link_to(edit_portfolio_path(portfolio_item), :id => :portfolio, class: "btn-floating yellow darken-1") do %>
              <i class='material-icons'>edit</i><% end %></p>
        <p><%= link_to(portfolio_show_path(portfolio_item), :id => :portfolio, class: "btn-floating green") do %><i class="material-icons">assignment_return</i><% end %></p>

  <p><%= link_to(portfolio_item, :method=>:delete, class: "btn-floating red", data: { confirm: 'Are you sure?' }) do %>
              <i class='material-icons'>delete</i><% end %></p>
  <% end %>


