<div class="carousel carousel-slider">
    <a class="carousel-item" ><%= image_tag "_header.png" %><%= image_tag "Betsy_Montoyas_School.png" %></a>
    <a class="carousel-item" ><%= image_tag "learntoplay.png" %></a>
    <a class="carousel-item" ><%= image_tag "kidscook.png" %></a>
    <a class="carousel-item" ><%= image_tag "Playtime.png" %></a>
  </div>

  <script>
  $('.carousel.carousel-slider').carousel({fullWidth: false});
  </script>