<blockquote><h2>Hi, <%= current_user.first_name %>, Welcome to The Learning Center!</h2></blockquote>
<hr>
<%= link_to "CHOICE | Registration", posts_path %>
|
<%= link_to "CHOICE | Tuition", new_charge_path %>
|
<%= link_to "CHOICE | Class of 2018", class_rosters_path %>
<%= render 'shared/home_card'%>
<hr>