<h1>The Learning Center Preschool</h1>
<hr>

<h2>Hi, <%= current_user.first_name %>, Welcome to CHOICE Pre-K!</h2>

<%= link_to "CHOICE | Registration", posts_path %>
<br>
<%= link_to "CHOICE | Tuition", new_charge_path %>

<%= render 'shared/home_card'%>
<hr>

<h2>Blog Posts</h2>
<%= @posts.inspect %>
<hr>


