<h1>The Learning Center Preschool</h1>
<hr>

<h2>Hi, <%= current_user.first_name %>, Welcome to CHOICE Pre-K!</h2>

<p>Find a a class, explore curriculum, pay tuition.</p>

<br>

<p>Class Schedule: Tuesday's and Thursday's weekly, Morning Class: 9:00 AM to 12:00 PM, Afternoon Class: 1:00 PM to 4:00 PM</p>

<%= link_to "CHOICE | Registration", posts_path %>
<br>
<%= link_to "CHOICE | Tuition", new_charge_path %>

<hr>

<%= link_to "Blogs", blogs_path %>
<br>
<%= link_to "Portfolios", portfolios_path %>

<h2>Blog Posts</h2>
<%= @posts.inspect %>
<hr>

<%= link_to "CHOICE | Class of 2018", class_rosters_path %>

<h3>Class Capacity: 12</h3>

<%= @skills.inspect %>