<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :post_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :post_age %>
  </div>


<p>
    <input name="post[class_desired]" class="with-gap" type="radio" id="class_desired_id" value="afternoon">
    <label for="class_desired_id" value="afternoon">Afternoon</label>
</p>

<p>
    <input name="post[class_desired]" class="with-gap" type="radio" id="class_desired_id_green" value="morning">
    <label for="class_desired_id_green" value="morning">Morning</label>
</p>

  <p>
      <input name="gender" class="with-gap" type="radio" id="gender_id_red" />
      <label for="gender_id_red" value="0">Male</label>
    </p>
    <p>
      <input name="gender" class="with-gap" type="radio" id="gender_id_yellow" />
      <label for="gender_id_yellow" value="1">Female</label>
    </p>

  <div class="field">
    <%= form.label :class_desired_because %>
    <%= form.text_area :body, id: :post_body %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('select').material_select();
});
</script>