<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
  <% post.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "TLC Posts") %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :post_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :post_age %>
  </div>


<div class="field">
    <input name="post[class_desired]" class="with-gap" type="radio" id="class_desired_id" value="afternoon">
    <label for="class_desired_id" value="afternoon">Afternoon</label>
</div>

<div class="field">
    <input name="post[class_desired]" class="with-gap" type="radio" id="class_desired_id_green" value="morning">
    <label for="class_desired_id_green" value="morning">Morning</label>
</div>

  <div class="field">
      <input name="post[gender]" class="with-gap" type="radio" id="gender_id" value="male">
      <label for="gender_id" value="male">Male</label>
    </div>

    <div class="field">
      <input name="post[gender]" class="with-gap" type="radio" id="gender_id_yellow" value="female">
      <label for="gender_id_yellow" value="female">Female</label>
    </div>

  <div class="field">
    <%= form.label :class_desired_because %>
    <%= form.text_area :body, id: :post_body %>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $('select').material_select();
});
</script>