<p id="notice"><%= notice %></p>

<h1>Student Posts</h1>
<p>Once you decide which class time will work best for you sign up your child and post a class schedule request!</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Age</th>
      <th>Body</th>
      <th>Class Desired</th>
      <th>Timeslot</th>
      <th>Status</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| if logged_in?(:admin) %>
    <% end %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.name %></td>
        <td><%= post.age %></td>
        <td><%= post.body %></td>
        <td><%= post.class_desired %></td>
        <td><%= link_to post.timeslot, toggle_timeslot_post_path(post) %></td>
        <td><%= link_to post.status, toggle_status_post_path(post) %></td>
        <td><%= link_to(edit_post_path(post), :id => :post, class: "btn-floating yellow darken-1") do %>
              <i class='material-icons'>edit</i><% end %></td>
        <td><%= link_to(post_path(post), :id => :post, class: "btn-floating green") do %><i class="material-icons">assignment_return</i><% end %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:admin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a class="btn-floating btn-large waves-effect waves-light red" href="/posts/new"><i class="material-icons">class</i></a></a>

<%= link_to 'Back', root_path %>