<%= form_with(model: class_roster, local: true) do |form| %>
  <% if class_roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_roster.errors.count, "error") %> prohibited this class_roster from being saved:</h2>

      <ul>
      <% class_roster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :class_roster_title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :class_roster_subtitle %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count, id: :class_roster_count %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :class_roster_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
