<p id="notice"><%= notice %></p>

<h1>Class Rosters</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Schedule</th>
      <th>Headcount</th>
      <th>Students</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_rosters.each do |class_roster| %>
      <tr>
        <td><%= class_roster.title %></td>
        <td><%= class_roster.subtitle %></td>
        <td><%= class_roster.count %></td>
        <td><%= class_roster.description %></td>
        <td><%= link_to 'Show', class_roster %></td>
        <td><%= link_to 'Edit', edit_class_roster_path(class_roster) %></td>
        <td><%= link_to 'Destroy', class_roster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class Roster', new_class_roster_path %>
