<p id="notice"><%= notice %></p>

<h1>Daily Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Session</th>
      <th>Schedule</th>
      <th>Headcount</th>
      <th>Students</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_rosters.each do |class_roster| %>
      <tr>
        <td><%= class_roster.title %></td>
        <td><%= link_to class_roster.status, toggle_status_class_roster_path(class_roster) %></td>
        <td><%= class_roster.subtitle %></td>
        <td><%= class_roster.count %></td>
        <td><%= class_roster.description %></td>
        <td><%= link_to(edit_class_roster_path(class_roster), :id => :class_roster, class: "btn-floating yellow darken-1") do %>
              <i class='material-icons'>edit</i><% end %></td>
        <td><%= link_to(class_roster_path(class_roster), :id => :class_roster, class: "btn-floating green") do %><i class="material-icons">assignment_return</i><% end %></td>
        <td><%= link_to 'Destroy', class_roster, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:admin) %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>
<hr>

<a class="btn-floating btn-large waves-effect waves-light red" href="/class_rosters/new"><i class="material-icons">add</i></a></a>
