<!DOCTYPE html>
<html>
  <head>
    <title>Choice</title>
    <%= csrf_meta_tags %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%=  favicon_link_tag 'TLCfavicon.png'%>

  <script src='/static/presentation/js/lib/jquery.ui.widget.js'></script>
<script src='/static/presentation/js/lib/jquery.iframe-transport.js'></script>
<script src='/static/presentation/js/lib/jquery.fileupload.js'></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <script type="text/javascript">
    Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
  </script>
  </head>

  <body>
    
    <%= render 'shared/nav' %>
    <%= render 'shared/alerts' %>
    <%= yield %>
    <% if session[:source] %>
     <p>Thanks for visiting from <%= session[:source] %></p>
     <% end %>
<%= render 'shared/footer' %>



  </body>
</html>
